*.o
*.mod
src/*.mod
src/*.o
src/*old
deprecate/
doc/*
!doc/uman.pdf
!doc/uman.tex
out
test/
!test/MESH_sed_param.ini
!test/MESH_sed_gridCell.ini
!test/MESH_sed_soilVegChan.ini
github.sh
ARBtest/*
scripts/*
bin/sa_mesh_sed
